extends layout

block content
  h1= title
  -let items = results
  a(href="/dragons/create", class="btn btn-success") Create Dragon

  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        div(class="row-sm-2", class="m-1") Dragon #{item.name} (#{item.color}) is #{item.age} #[br]
          button.btn(class="btn-warning ml-1", onclick=`dispatch("/dragons/update?id=${item._id}")`) Update
          button.btn(class="btn-primary ml-1", onclick=`dispatch("/dragons/detail/?id=${item._id}")`) Details
          button.btn(class="btn-danger ml-1", onclick=`dispatch("/dragons/delete/?id=${item._id}")`) Delete


  script.
    function dispatch(path){
      window.location.href=path
    }